html { 
    font-family: 'Abel', sans-serif;
    background: #223 url(bg_0.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}
.root {
    display: flex;
    height: 100%;
}
.main {
    align-self: center;
    flex-grow: 1;
    font-size: 1.5rem;
    margin-top: -5em;
}
.prob {
    white-space: nowrap;
}
.mw-logo {
    color: #fff;
    font-size: 3em;
    margin: 0 auto;
    margin-top: .5em;
    width: 1em; 
    text-shadow: 0 0 9px rgba(0, 0, 0, .5);
}

.intro {
    font-size: 1em;
    font-weight: normal;
    margin-top: 0;
    text-align: center;
    text-shadow: 0 0 9px rgba(0, 0, 0, .5);
}

.social {
    font-size: 2em;
    text-align: center;
    margin-top: .5em;
}

.social__link {
    color: #20467E;
    opacity: .75;
    text-decoration: none;
    margin: 0 .3em;
}
.social__link:hover {
    opacity: 1;
}


.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.5);
    border-radius: 4px;
    bottom: -1.3em;
    color: #fff;
    content: attr(title);
    left: -2em;
    font-size: .3em;
    font-weight: normal;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    white-space: nowrap;   
}

.caption {
    background: #333;
    background: rgba(0,0,0,.5);
    border-radius: 4px;
    bottom: 1em;
    color: #fff;
    right: 1em;
    font-size: .8rem;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    white-space: nowrap;
    line-height: 150%;
}

.quote {
    text-align: center;
    max-width: 80vw;
    margin: 2rem auto;
    font-size: 1.2em;
    background: rgba(0,0,0,.5);
    border-radius: 4px;
    padding: .5rem;
}
.quote_author {
    opacity: .5;
}

@media only screen 
  and (min-device-width: 800px)  { 
    .main {
        font-size: 1.5em;
        margin-top: -8em;
    }
    .mw-logo {
        font-size: 5em;
    }

    .intro {
        font-size: 2em;
        font-weight: normal;
        text-align: center;
        text-shadow: 0 0 9px rgba(0, 0, 0, .5);
    }

    .social {
        font-size: 2em;
        text-align: center;
    }
    .social__link {
        margin: 0 .5em;
    }
    .caption {
        font-size: .5em;
    }
    .quote {
        max-width: 40vw;
    }
}
